  body {
    background-image:url("yellow.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    width:75%;
    padding-left:10%;
    color:rgb(29, 80, 76);
    font-size:16pt;
    font-family: 'Lora', serif;
}


img {
width:15%;
padding: 5pt;}


h1  {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    color:rgb(29, 80, 76);
    font-size:56pt;
    kerning:180pt;
    text-align:center;
    font-weight:100;

}

h4{ font-size:38pt;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;  
    text-align:center;
    color:rgb(29, 80, 76);
   
}


h2 {
    color:rgb(206, 37, 37);
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
   font-size:28pt;  
}


li {
    display:inline;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size:32pt;
    color:rgb(206, 37, 37);
    padding-left:100px;
    font-weight:bold;   
}


li.a {font-size:16px;

}


h3 {
    font-family: 'Lora', serif;
    font-size:18pt;
     color:rgb(206, 37, 37);   
}


section{
    
    background-clip: content-box;
    font-family: 'Lora', serif;
}

section.featured
{
   width:90%;
    border-bottom:solid rgb(206, 37, 37);
    }
section.job1{
    width:90%;
    border-bottom:solid rgb(206, 37, 37);
    margin-bottom:35px;
}
section.education{
    width:90%;
    border-bottom:solid rgb(206, 37, 37);
    padding-bottom:25px;
      }

footer{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-align: center;
    font-size:16pt;
    color:rgb(59, 53, 77);
    padding:50px;
}


